In [124]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [125]:
PopOK = "Data/Estimates of Population for Counties of OK 2000 to 2010.csv"
PopOK = pd.read_csv(PopOK)
PopOK = pd.DataFrame(PopOK)
PopOK.count()

Geographic Area    78
April 1, 20001     78
2000               78
2001               78
2002               78
2003               78
2004               78
2005               78
2006               78
2007               78
2008               78
2009               78
April 1, 20102     78
July 1, 20103      78
dtype: int64

In [126]:
PopTX = "Data/Estimates of Population for Counties of Texas 2000 to 2010.csv"
PopTX = pd.read_csv(PopTX)
PopTX = pd.DataFrame(PopTX)
PopTX.head()

,Geographic Area,"April 1, 20001",2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,"April 1, 20102","July 1, 20103"
0,Texas,"20,851,028","20,944,499","21,319,622","21,690,325","22,030,931","22,394,023","22,778,123","23,359,580","23,831,983","24,309,039","24,801,761","25,145,561","25,257,114"
1,.Anderson County,"55,114","55,062","54,263","54,740","56,068","56,245","56,873","57,386","57,870","57,963","58,410","58,458","58,452"
2,.Andrews County,"13,002","12,949","12,856","13,022","12,976","13,006","13,016","13,195","13,513","14,099","14,601","14,786","14,833"
3,.Angelina County,"80,123","80,270","80,273","80,803","81,510","82,070","82,553","83,810","84,518","84,961","86,029","86,771","86,953"
4,.Aransas County,"22,457","22,452","22,287","22,616","22,843","23,067","23,561","23,395","23,172","23,225","23,291","23,158","23,151"

In [127]:
PopOR = "Data/Estimates Population for Counties of Oregon 2000 to 2010.csv"
PopOR = pd.read_csv(PopOR)
PopOR = pd.DataFrame(PopOR)
PopOR.count()

Geographic Area    37
April 1, 20001     37
2000               37
2001               37
2002               37
2003               37
2004               37
2005               37
2006               37
2007               37
2008               37
2009               37
April 1, 20102     37
July 1, 20103      37
dtype: int64

In [128]:
PopIA = "Data/Population for Counties of IA 2000 to 2010.csv"
PopIA = pd.read_csv(PopIA)
PopIA = pd.DataFrame(PopIA)
PopIA.count()

Geographic Area    100
April 1, 20001     100
2000               100
2001               100
2002               100
2003               100
2004               100
2005               100
2006               100
2007               100
2008               100
2009               100
April 1, 20102     100
July 1, 20103      100
dtype: int64

In [129]:
Employment = "Data/Unemployment 2000-2019.csv"
Employment = pd.read_csv(Employment)
Employment = pd.DataFrame(Employment)
Employment.head()

,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,"142,601,667","136,904,680","5,696,987",4.0,...,"161,389,026","155,102,319","6,286,707",3.9,"163,100,055","157,115,247","5,984,808",3.7,"65,712",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,133,223","2,035,594","97,629",4.6,...,"2,216,627","2,130,845","85,782",3.9,"2,241,747","2,174,483","67,264",3.0,"51,771",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,720","20,846",874,4.0,...,"26,196","25,261",935,3.6,"26,172","25,458",714,2.7,"58,233",112.5
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,533","66,971","2,562",3.7,...,"95,233","91,809","3,424",3.6,"97,328","94,675","2,653",2.7,"59,871",115.6
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,373","10,748",625,5.5,...,"8,414","7,987",427,5.1,"8,537","8,213",324,3.8,"35,972",69.5

In [130]:
PopUS = "Data/USPopulation_Data_2010-2019.csv"
PopUS = pd.read_csv(PopUS)
PopUS = pd.DataFrame(PopUS)
PopUS.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [131]:
# Dataframe list: PopTX, PopOR, PopOK, PopIA, Employment, PopUS
# Pop dataframe clean up tasks: Add state column, change column headings
# Employment clean up tasks: delete a bunch of columns, rename columns, 
    # seperate out state from county name, filter to OR, OK, IA, TX
# PopUS clean up: delete a bunch of columns, rename columns, filter to OR, OK, IA, TX

In [132]:
def pop_clean(popstate, state):
    df = popstate.rename(columns={"Geographic Area": "County",
                                  "2000": state+ " Pop 2000",
                                  "2001": state+ " Pop 2001",
                                  "2002": state+ " Pop 2002",
                                  "2003": state+ " Pop 2003",
                                  "2004": state+ " Pop 2004",
                                  "2005": state+ " Pop 2005",
                                  "2006": state+ " Pop 2006",
                                  "2007": state+ " Pop 2007",
                                  "2008": state+ " Pop 2008",
                                  "2009": state+ " Pop 2009"})
    df["State"] = state
    
    df = df[["State", "County", state+ " Pop 2000",
                                  state+ " Pop 2001",
                                  state+ " Pop 2002",
                                  state+ " Pop 2003",
                                  state+ " Pop 2004",
                                  state+ " Pop 2005",
                                  state+ " Pop 2006",
                                  state+ " Pop 2007",
                                  state+ " Pop 2008",
                                  state+ " Pop 2009"]]
    df["County"] = df["County"].replace({".":""})
    
        
    return df

In [135]:
PopOK_clean = pop_clean(PopOK,'OK')
PopOK_clean.to_csv("Data/Data_Output/PopOK.csv", encoding="utf-8", index=False, header=True)
PopOK_clean.head()

,State,County,OK Pop 2000,OK Pop 2001,OK Pop 2002,OK Pop 2003,OK Pop 2004,OK Pop 2005,OK Pop 2006,OK Pop 2007,OK Pop 2008,OK Pop 2009
0,OK,Oklahoma,"3,454,365","3,467,100","3,489,080","3,504,892","3,525,233","3,548,597","3,594,090","3,634,349","3,668,976","3,717,572"
1,OK,.Adair County,"21,031","21,101","21,271","21,445","21,589","21,887","22,215","22,345","22,346","22,477"
2,OK,.Alfalfa County,"6,080","5,933","5,894","5,827","5,785","5,706","5,639","5,618","5,618","5,585"
3,OK,.Atoka County,"13,820","13,816","13,836","13,973","14,046","14,034","14,013","14,118","14,220","14,155"
4,OK,.Beaver County,"5,782","5,657","5,617","5,609","5,577","5,569","5,514","5,571","5,521","5,562"

In [136]:
PopTX_clean = pop_clean(PopTX,'TX')
PopTX_clean.to_csv("Data/Data_Output/PopTX.csv", encoding="utf-8", index=False, header=True)
PopTX_clean.head()

,State,County,TX Pop 2000,TX Pop 2001,TX Pop 2002,TX Pop 2003,TX Pop 2004,TX Pop 2005,TX Pop 2006,TX Pop 2007,TX Pop 2008,TX Pop 2009
0,TX,Texas,"20,944,499","21,319,622","21,690,325","22,030,931","22,394,023","22,778,123","23,359,580","23,831,983","24,309,039","24,801,761"
1,TX,.Anderson County,"55,062","54,263","54,740","56,068","56,245","56,873","57,386","57,870","57,963","58,410"
2,TX,.Andrews County,"12,949","12,856","13,022","12,976","13,006","13,016","13,195","13,513","14,099","14,601"
3,TX,.Angelina County,"80,270","80,273","80,803","81,510","82,070","82,553","83,810","84,518","84,961","86,029"
4,TX,.Aransas County,"22,452","22,287","22,616","22,843","23,067","23,561","23,395","23,172","23,225","23,291"

In [142]:
PopOR_clean = pop_clean(PopOR,'OR')
PopOR_clean.to_csv("Data/Data_Output/PopOR2.csv", encoding="utf-8", index=False, header=True)
PopOR_clean.head()

,State,County,OR Pop 2000,OR Pop 2001,OR Pop 2002,OR Pop 2003,OR Pop 2004,OR Pop 2005,OR Pop 2006,OR Pop 2007,OR Pop 2008,OR Pop 2009
0,OR,Oregon,"3,429,708","3,467,937","3,513,424","3,547,376","3,569,463","3,613,202","3,670,883","3,722,417","3,768,748","3,808,600"
1,OR,.Baker County,"16,714","16,618","16,376","16,312","16,272","16,086","16,094","16,139","16,195","16,225"
2,OR,.Benton County,"78,236","78,491","80,203","80,322","80,149","80,943","81,957","83,718","84,150","85,390"
3,OR,.Clackamas County,"339,223","343,444","348,951","352,032","355,758","359,308","363,508","366,808","371,103","374,085"
4,OR,.Clatsop County,"35,560","35,509","35,519","35,612","35,912","36,282","36,603","36,818","36,825","36,972"

In [138]:
PopIA_clean = pop_clean(PopIA,'IA')
PopIA_clean.to_csv("Data/Data_Output/PopIA.csv", encoding="utf-8", index=False, header=True)
PopIA_clean.count()

State          100
County         100
IA Pop 2000    100
IA Pop 2001    100
IA Pop 2002    100
IA Pop 2003    100
IA Pop 2004    100
IA Pop 2005    100
IA Pop 2006    100
IA Pop 2007    100
IA Pop 2008    100
IA Pop 2009    100
dtype: int64

In [139]:
PopUS_renamed = PopUS.rename(columns={"STNAME": "State",
                                  "CTYNAME": "County",
                                  "CENSUS2010POP": "Pop 2010",
                                  "POPESTIMATE2011": "Pop 2011",
                                  "POPESTIMATE2012": "Pop 2012",
                                  "POPESTIMATE2013": "Pop 2013",
                                  "POPESTIMATE2014": "Pop 2014",
                                  "POPESTIMATE2015": "Pop 2015",
                                  "POPESTIMATE2016": "Pop 2016",
                                  "POPESTIMATE2017": "Pop 2017",
                                  "POPESTIMATE2018": "Pop 2018",
                                  "POPESTIMATE2019": "Pop 2019",})

PopUS_Clean = PopUS_renamed[["State", "County", "Pop 2010", "Pop 2011", "Pop 2012",
                                  "Pop 2013", "Pop 2014", "Pop 2015", "Pop 2016",
                                  "Pop 2017", "Pop 2018", "Pop 2019"]]

PopUS_Clean.to_csv("Data/Data_Output/PopUS.csv", encoding="utf-8", index=False, header=True)
PopUS_Clean.head()

,State,County,Pop 2010,Pop 2011,Pop 2012,Pop 2013,Pop 2014,Pop 2015,Pop 2016,Pop 2017,Pop 2018,Pop 2019
0,Alabama,Alabama,4779736,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alabama,Autauga County,54571,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,Alabama,Baldwin County,182265,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,Alabama,Barbour County,27457,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,Alabama,Bibb County,22915,22745,22667,22521,22553,22566,22586,22550,22367,22394

In [140]:
# Cut PopUS to 4 states of interest

states = ['Oregon', 'Iowa', 'Texas', 'Oklahoma']

for state in states:
    PopUS_4states = PopUS_Clean.loc[PopUS_Clean['State'] == state]

PopUS_4states['State'] = PopUS_4states['State'].replace({"Oklahoma": "OK",
                                                        "Iowa": "IA",
                                                        "Oregon": "OR",
                                                        "Texas": "TX"})
PopUS_4states.to_csv("Data/Data_Output/Pop4states.csv", encoding="utf-8", index=False, header=True)
PopUS_4states.head()

<ipython-input-140-bfdaf499ce56>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PopUS_4states['State'] = PopUS_4states['State'].replace({"Oklahoma": "OK",

,State,County,Pop 2010,Pop 2011,Pop 2012,Pop 2013,Pop 2014,Pop 2015,Pop 2016,Pop 2017,Pop 2018,Pop 2019
2167,OK,Oklahoma,3751351,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
2168,OK,Adair County,22683,22667,22468,22460,22384,22259,22305,22119,22224,22194
2169,OK,Alfalfa County,5642,5648,5668,5856,5821,5917,5936,5913,5765,5702
2170,OK,Atoka County,14182,14169,14030,13901,13924,13889,13894,13779,13795,13758
2171,OK,Beaver County,5636,5634,5590,5563,5532,5455,5435,5364,5318,5311

,State_x,County,IA Pop 2000,IA Pop 2001,IA Pop 2002,IA Pop 2003,IA Pop 2004,IA Pop 2005,IA Pop 2006,IA Pop 2007,...,Pop 2010,Pop 2011,Pop 2012,Pop 2013,Pop 2014,Pop 2015,Pop 2016,Pop 2017,Pop 2018,Pop 2019
0,IA,Iowa,"2,929,067","2,931,997","2,934,234","2,941,999","2,953,635","2,964,454","2,982,644","2,999,212",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IA,.Adair County,"8,223","8,132","8,059","8,050","8,019","7,932","7,924","7,871",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IA,.Adams County,"4,476","4,402","4,370","4,365","4,307","4,226","4,224","4,195",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IA,.Allamakee County,"14,674","14,333","14,289","14,345","14,324","14,371","14,378","14,335",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IA,.Appanoose County,"13,696","13,578","13,420","13,522","13,462","13,453","13,319","13,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN